@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap');

*{
  font-family: Poppins;
  box-sizing: border-box;
}

body{
  background-color:#f9fbfd;
  min-height: 100vh !important;
}

.text{
  color: rgb(28, 20, 78);
  line-height: 1.75;
  word-break: break-word;
  margin: 0px 0px 4px;
  font-size: 12px
}

.bold{
  font-weight: bold;
  font-size: 14px
}

.big{
  font-size: 14px
}

input, textarea, select{
  width: 100%;
  flex-grow: 1;
  height: 40px;
  margin: 0px;
  border: 2px solid rgb(203, 206, 210);
  background-color: rgba( 222 , 222 , 222,0.10);
  border-radius: 10px;
  font-family: Rubik;
  font-size: 18px;
  font-weight: 400;
  color: rgb(28, 20, 78);
  padding: 0px 14px;
  transition: border-bottom-color 200ms ease 0s;
}

form {
  gap: 16px;
  width: 100%;
}


input:focus, textarea:focus {
  outline: 2px solid #4285F4;

}



label{
  display: block;
  font-family: Poppins;
  margin-bottom: 8px;
}

h2{
  overflow: visible;
  font-family: Rubik;
  font-size: 30px;
  font-weight: 700;
  color: rgb(28, 20, 78);
  line-height: 1.2;
  margin: 16px 0;
}

h3{
  overflow: visible;
  font-family: Rubik;
  font-size: 20px;
  font-weight: 700;
  color: rgb(28, 20, 78);
  line-height: 1.2;
}

svg{
  cursor: pointer;
}

button{
  cursor: pointer; 
  font-family: Rubik; 
  font-size: 14px;
  height: 40px;
  font-weight: 500;
  transition: box-shadow 0.2s;
  border: 2px solid rgb(203, 206, 210);
  text-align: center;
  color: rgb(28, 20, 78);
  line-height: 1.5;  
  border-radius: 10px;  
  background-color: white;
  padding: 0px 20px;
}

button.primary{
  background-color:rgb(4, 104, 135);
  border: none;
  color: white;
}

button.error{
  background-color:#cc0020;
  border: none;
  color: white;
}


button:hover {
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
}

button{
  position: relative;
  overflow: hidden;
}

button:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: rgb(122, 122, 122, .5);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%;
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}

button:focus:not(:active)::after {
  animation: ripple 1s ease-out;
}            


button.submit {
  width: 200px;
  margin: 16px auto;
}
